$white:#fff;
$link_color:#333;
$common_color:#333;
$link_hover:#ff3636;
$border_color:#333;
$primary:#0d6efd;
$secondary:#565e64;
$success:#146c43;
$danger:#b02a37;
$warning:#ffcd39;
$info:#3dd5f3;
$light:#f8f9fa;
$dark:#1a1e21;
$pink:#F60DA2;
$orange:#FF4933;
$black:#0F1112;
$primary-hover:#074fbb;
$secondary-hover:#626f79;
$success-hover:#076e3e;
$danger-hover:#5f0e16;
$warning-hover:#80630f;
$info-hover:#168ea7;
$light-hover:#f8f9fa;
$dark-hover:#30373d;
$pink-hover:#c00a7d;
$orange-hover:#a8372b;
$gray:#F1F1F1;
$gray-bright:#eee;
$spacer:1rem;
